body{
    background-color: #070707e6;
}


/* style for the search bar */
.website-header{
    height:64px;
    width:100%;
    display: flex;
    align-items: center;
}

.center-header{
    flex:1;
    display:flex;
    justify-content: center;

}
.search{
    width:min(640px, 100%);
    height: 40px;
    display: flex;
    border: 2px solid rgb(96, 92, 92);
    border-radius: 999px;
    overflow: hidden;
    background-color: #414040db;
    color: lightgray;
}

.search:focus-within{
    box-shadow:0 0 7px rgba(0,0,0,0.5);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend',sans-serif;
    color: whitesmoke;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    /* padding for the search bar*/
    padding: 0 12px 0 20px;
}

.search-button{
    width: 64px;
    border:none;
    background:gray;
    cursor: pointer;
}

.search-button:hover{

    opacity: 25%;
    transition: 0.25s;
}
.search-input::placeholder.search-icon{
    color: rgba(0,0,0,0.5);
}